<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
	
	<property scope="context" name="log.fileExtension" value="log"/>
	 
    <springProperty name="LOGSTASH_HOST" source="logstash.host"/>
    <springProperty name="LOGGER_DIRECTORY" source="logger.directory"/>
    <springProperty name="LOGGER_NAME" source="logger.name"/>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %cyan(%logger{36}) -- %msg%n</pattern>
            <outputPatternAsHeader>false</outputPatternAsHeader>
        </encoder>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<!-- using SizeAndTimeBasedRollingPolicy if activate file size history -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGGER_DIRECTORY}/${LOGGER_NAME}.%d{yyyy-MM-dd}.${log.fileExtension}</fileNamePattern>
            <!-- each archived file, size max 10MB -->
			<!-- <maxFileSize>10MB</maxFileSize> -->
            <!-- total size of all archive files, if total size > 1GB, it will delete old archived file -->
			<totalSizeCap>1GB</totalSizeCap>
            <!-- 30 days to keep -->
			<maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>
		    	%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
		    </Pattern>
        </encoder>
    </appender>

    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
    </appender>
    
    <logger name="akses.ksei.co.id.investor" additivity="false" level="info">
      	<appender-ref ref="STDOUT"/>
        <appender-ref ref="STASH"/>
        <appender-ref ref="ASYNC"/>
    </logger>
    
    <root level="error">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STASH"/>
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>